
<h1><%= @info[0]["movie"] %></h1>

<ul>
	<li>Year Released: <%= @info[0]["year"] %></li>
	<li>Rating: <%= @info[0]["rating"] %></li>
	<li>Studio: <%= @info[0]["studio"] %></li>
</ul>


<table>
	<tbody>
		<tr>
			<th>Actor </th>
			<th></th>
			<th></th>
			<th>Role </th>
		</tr>
		<tr>
			<% @info.each do |actor| %>
			<td><a href="/actors/<%= actor["actor_id"] %>"><%= actor["actor"] %></a></td>
			<td></td>
			<td></td>
			<td><%= actor["role"] %></td>
		</tr>
		<% end %>
	</tbody>
</table>
